[submodule "engine.spirv"]
	path = engine.spirv
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "engine.editor/imgui"]
	path = engine.editor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine.vma"]
	path = engine.vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "engine.glm"]
	path = engine.glm
	url = https://github.com/g-truc/glm.git
